<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <div style="text-align: center">QUIZMINADO</div>
    </ion-title>
  </ion-navbar>
</ion-header> 

<ion-content class="fundo" text-center padding >

    <div style="padding-top: 150px" *ngIf="isExibirTabuleiro">
        <ion-grid>
            <ion-row>
                <ion-col col-12>

                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <button ion-button block color="dark" (click)="abrirQuestao(1)" large full>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(1) < 0" name="md-help"></ion-icon>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(1) >= 0" name="md-checkbox-outline"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button block color="dark" (click)="abrirQuestao(2)" large full>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(2) < 0" name="md-help"></ion-icon>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(2) >= 0" name="md-checkbox-outline"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <button ion-button block color="dark" (click)="abrirQuestao(3)"  large full>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(3) < 0" name="md-help"></ion-icon>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(3) >= 0" name="md-checkbox-outline"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button block color="dark" (click)="abrirQuestao(4)" large full>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(4) < 0" name="md-help"></ion-icon>
                                    <ion-icon *ngIf="posicoesAcertadas.indexOf(4) >= 0" name="md-checkbox-outline"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>

                    <button ion-button block color="dark" (click)="desistir()" large full>
                        <ion-icon name="ios-close-circle-outline"></ion-icon>&nbsp;DESISTIR
                    </button>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="isExibirQuestao && questao">
    <ion-grid>
            <ion-row>
                <ion-col col-12>

                <ion-card color="dark">
                    <ion-card-header>
                        Questão de {{questao?.disciplina?.descricaoDisciplina}}
                    </ion-card-header>
                    <ion-card-content>
                        {{questao?.descricaoQuestao}}
                    </ion-card-content>
                    </ion-card>

                </ion-col>
            </ion-row>

            <ion-row *ngFor="let resposta of questao.respostas">
                <ion-col col-12>

                    <ion-card color="dark" (click)="responder(resposta.situacaoResposta, resposta.letraResposta)">
                    <ion-card-content>
                        {{resposta.letraResposta}}) {{resposta.descricaoResposta}}
                    </ion-card-content>
                    </ion-card>
                    
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>

                    <button ion-button block color="dark" (click)="voltar()" large full>
                        <ion-icon name="ios-backspace-outline"></ion-icon>&nbsp;VOLTAR
                    </button>
                    
                </ion-col>
            </ion-row>
    </ion-grid>
    </div>

</ion-content>
